# macOS
.DS_Store

# logs
logs
*.log

# vscode database functionality support files
*.session.sql

notes.txt
NOTE.md

.idea
plugins/test/*
run.sh

.semrel/*

# binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# dotenv environment variables file
.env
.env.test

# test binary, built with `go test -c`
*.test

# output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
